---
# Only the main Sass file needs front matter (the dashes are enough)
---


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "syntax-highlighting",
  "base",
  "components/grid",
  "components/nav",
  "components/footer",
  "components/post",
  "components/type",
  "pages/work"
;
