<!--<form
      action="https://tinyletter.com/philipcdavis" method="post" target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/philipcdavis', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <p for="tlemail">If you liked this post you should join my mailing list.
        <input type="text" style="width:140px" name="email" id="tlemail" />
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" />
      </p>
</form>
         -->