  <!-- Begin MailChimp Signup Form -->
<!--<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	
        @media (min-width: 30em) {
         #mc_embed_signup .mc-field-group input {
          width: 40%;
         }
        }
        
</style>
<div id="mc_embed_signup">
<form action="//philipcdavis.us8.list-manage.com/subscribe/post?u=b015e9edb4435a510e8165e30&amp;id=feda616931" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2>Subscribe for blog updates</h2>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk"></span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>  
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b015e9edb4435a510e8165e30_feda616931" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>-->


<!--End mc_embed_signup-->