$charcoal: #1B1C1E;
$smoke-dark: #7B8E9B;
$smoke-shadow: #D1D8DE;
$smoke: #EAEEF1;
$red: #FF0D0D;
$green: #0BAC46;
$blue: #1377EC;

$dark: #1B1C1E;
$gray: #AAAAAA;
$white: #FFFFFF;

$dark-10: rgba($dark, 0.1);
$dark-20: rgba($dark, 0.2);
$dark-30: rgba($dark, 0.3);
$dark-40: rgba($dark, 0.4);
$dark-50: rgba($dark, 0.5);
$dark-60: rgba($dark, 0.6);
$dark-70: rgba($dark, 0.7);
$dark-80: rgba($dark, 0.8);
$dark-90: rgba($dark, 0.9);
$dark-100: rgba($dark, 1);

$light-10: rgba($white, 0.1);
$light-20: rgba($white, 0.2);
$light-30: rgba($white, 0.3);
$light-40: rgba($white, 0.4);
$light-50: rgba($white, 0.5);
$light-60: rgba($white, 0.6);
$light-70: rgba($white, 0.7);
$light-80: rgba($white, 0.8);
$light-90: rgba($white, 0.9);
$light-100: rgba($white, 1);

$gray-10: rgba($gray, 0.1);
$gray-20: rgba($gray, 0.2);
$gray-30: rgba($gray, 0.3);
$gray-40: rgba($gray, 0.4);
$gray-50: rgba($gray, 0.5);
$gray-60: rgba($gray, 0.6);
$gray-70: rgba($gray, 0.7);
$gray-80: rgba($gray, 0.8);
$gray-90: rgba($gray, 0.9);
$gray-100: rgba($gray, 1);

$large: 800px;
$small: 600px;

* {
  box-sizing: border-box;
}

body {
  color: $dark-100;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: #fff;
  font-feature-settings: "calt","liga","hist";
}

hr {
  border: none;
  border-top: 2px solid $smoke;
  width: 40%;
  margin-top: calc(50px + 2vw);
  margin-bottom: calc(50px + 2vw);
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.fit {
  max-width: 100%;
}
