$charcoal: #29292a;
$smoke-dark: #64646E;
$smoke-shadow: #abb1b5;
$smoke: #EAEEF1;
$red: #FF0D0D;

* {
  box-sizing: border-box;
}

body {
  font-family: georgia, serif;
  color: $charcoal;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: white;
}

::selection {
  background: $smoke;
}

hr {
  border: none;
  border-top: 1px solid $smoke;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.fit {
  max-width: 100%;
}
