.home {
  background-color: $charcoal;
  color: white;

  & blockquote {
    color: $light-90;
  }
}

.home-work-link {
  display: block;
  text-decoration: none;
  padding: 20px 25px;
  border-radius: 5px;
  border-bottom: none;
  transition: 0.1s all ease;
  margin-bottom: 40px;


  &:first-of-type {
    position: relative;
    left: 0;
  }

  &:hover {
    background-color: $gray-10;
  }
}

@media (min-width: $small) {
  .home-work-link:first-of-type {
    left: -20px;
  }
}

.home-header {
  border-bottom: 1px solid $gray-20;
}

.home-icon  {
  width: 55px;
  float: left;
  margin-right: 18px;
}
