.work-header-title {
  font-weight: 700;
  font-size: .9em;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 60px;
}

.work-gallery {
  display: block;
  overflow: hidden;
  height: auto;

  & img {
    transition: transform 0.3s cubic-bezier(0.32,0, 0.43, 1);
    -webkit-transition: transform 0.3s cubic-bezier(0.32,0, 0.43, 1);
    -moz-transition: transform 0.3s cubic-bezier(0.32,0, 0.43, 1);
    display: block;
  }

  &:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.work-gallery-link {
  text-decoration: none;
}

.work-thumbnail-border {
  border: 1px solid $smoke;
}

.work-label {
  font-size: .7em;
  color: $smoke-dark;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 18px;
  margin-top: 7px;
  cursor: pointer;
}

@media (min-width: 350px) {
  .work-header-title {
    font-size: 1em;
  }
}

@media (min-width: 510px) {
  .work-header-title {
    font-size: 1.5em;
  }

  .work-label {
    top: 0;
  }
}

@media (min-width: 800px) {
  .work-header-title {
    font-size: 2.1em;
  }

  .work-label  {
    font-size: .8em;
  }
}
