.work-header-title {
  font-weight: 700;
  font-size: .9em;
  line-height: 1.4;
  margin-top: 30px;
  margin-bottom: 70px;
}

.work-gallery {
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
  display: block;
}

.work-thumbnail-border {
  border: 1px solid $smoke;
}

.work-gallery:hover {
  opacity: 0.8;
}

.work-label {
  font-size: .7em;
  color: $smoke-dark;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  top: -3px;
}

@media (min-width: 350px) {
  .work-header-title {
    font-size: 1em;
  }
}

@media (min-width: 510px) {
  .work-header-title {
    font-size: 1.5em;
  }

  .work-label {
    top: 0;
  }
}

@media (min-width: 800px) {
  .work-header-title {
    font-size: 2.3em;
  }

  .work-label  {
    font-size: .8em;
  }
}
