.link {
  text-decoration: none;
  display: inline-block;
  color: var(--secondary-text);
  cursor: pointer;
  opacity: 0.7;
}

.link:hover {
  color: var(--secondary-text);
  opacity: 1;
}

.active {
  color: var(--primary-text);
  cursor: pointer;
  border-bottom: 2px solid var(--link);
}

.active:hover {
  color: var(--primary-text);
}
