.foot {
  border-top: 1px solid $smoke;
  text-align: center;
  padding: 30px 0;
  color: $smoke;
  font-size: 1.1rem;
}

.foot-link {
  color: $red;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.foot-link:hover {
  opacity: .6;
}
