.nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-logo {
  height: 40px;
  display: block;
}

.nav-logo-img:hover {
  opacity: .8;
}

.nav-links {
  float: right;
  padding-top: 3px;
}

.nav-link {
  color: $smoke-dark;
  text-decoration: none;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 16px;

  &:hover {
    color: $red;
  }
}

@media (min-width: 500px) {
  .nav-link {
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
