.nav {
  padding-top: 25px;
  padding-bottom: 27px;
}

.nav-logo {
  height: 40px;
  display: block;
}

.nav-logo-img:hover {
  opacity: .8;
}

.nav-links {
  float: right;
  padding-top: 3px;
}

.nav-link {
  color: $smoke-dark;
  text-decoration: none;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 1.1rem;
  padding-bottom: 0px;
  margin-top: 7px;
  display: inline-block;
  line-height: 1.2;

  &:hover {
    color: $charcoal;
  }

  &.active {
    color: $charcoal;
  }
}

@media (min-width: 500px) {
  .nav-link {
    margin-left: 25px;
    margin-right: 25px;
  }
}
