.nav {
  width: 92%;
  padding: 40px 0 40px 0;
  margin: 0 auto;

  a {
    border-bottom: none;
  }
}

@media (min-width: $large) {
  .nav {
    width: 100%;
    padding: 40px;
  }
}

.nav-logo {
  height: 40px;
  display: block;
  opacity: 0.3;
}

.nav-logo-img:hover {
  opacity: .8;
}

.nav-links {
  float: right;
  padding-top: 3px;
}

.nav-link {
  text-decoration: none;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 1.4rem;
  padding-bottom: 0px;
  margin-top: 5px;
  display: inline-block;
  line-height: 1.2;
  color: $dark-60;

  &:hover  {
    color: $dark-90;
  }

  &.nav-link-active {
    color: $dark-100;
  }
}

.home .nav-link {
  color: $light-60;

  &:hover  {
    color: $light-90;
  }

  &.nav-link-active {
    color: $light-100;
  }
}

@media (min-width: $small) {
  .nav-link {
    margin-left: 25px;
    margin-right: 25px;
  }
}
