.nav {
  padding: 20px;

  a {
    border-bottom: none;
  }
}

.nav-logo {
  height: 40px;
  display: block;
}

.nav-logo-img:hover {
  opacity: .8;
}

.nav-links {
  float: right;
  padding-top: 3px;
}

.nav-link {
  text-decoration: none;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 1.4rem;
  padding-bottom: 0px;
  margin-top: 5px;
  display: inline-block;
  line-height: 1.2;
  color: rgba(255,255,255, 0.4);

  &:hover  {
    color: rgba(255,255,255, 0.6);
  }

  &.nav-link-active {
    color: rgba(255,255,255, 0.8);
  }
}

@media (min-width: 500px) {
  .nav-link {
    margin-left: 25px;
    margin-right: 25px;
  }
}
