// Gallery for different size images

.photo-gallery {
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 0;
}

.photo-gallery-row {
  width: 100%;
}

@media (min-width: $container-width + 100px) {
  .photo-gallery-row {
    width: calc(102% + 100px);
  }
}
