.post-content {
  line-height: 1.6;
  font-size: 16px;
}

.post a {
  color: $red;
  text-decoration: none;

  &:hover {
    opacity: .6;
  }
}

.post p {
  margin-bottom: 30px;
  margin-top: 0px;
}

.post h1, .post h2 {
  margin-top: 60px;
}

.post h3, .post h4 {
  margin-top: 40px;
}

.post-title {
  font-weight: 300;
  margin-top: 40px;
}


@media (min-width: 500px) {

  .post-content {
    font-size: 1.3rem;
  }
}
