.post {
  margin-bottom: 20px;
}

.post-content {
  font-size: 1.4rem;
}

.post a {
  color: $red;
  text-decoration: none;

  &:hover {
    opacity: .6;
  }
}

.post img {
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post .post-half-img {
    width: 50%;
    margin-left: 0;
}

.post p {
  margin-bottom: 30px;
  margin-top: 0px;
}

.post h1, .post h2 {
  margin-top: 40px;
}

.post h3, .post h4 {
  margin-top: 20px;
}

.post-header {
  margin-bottom: 40px;
}

.post-header img {
  margin-top: 0;
}

.post-list-title {
  font-size: 1.2rem;
  color: $charcoal;
  text-decoration: none;
  display: block;

  &:hover {
    color: $red;
  }
}

.post-list-meta {
  color: $smoke-shadow;
  font-size: .9rem;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.post-list-row {
  text-decoration: none;
  border-top: 1px solid $smoke;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1;

  &:first-of-type {
    border-top: none;
  }
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 30px;
  border-left: 3px solid $charcoal;
}


@media (min-width: 500px) {
  .post-content {
    font-size: 1.3rem;
  }

  .post-list-title {
    font-size: 1.4rem;
  }

  .post-list-meta {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .post-list-title {
    font-size: 1.8rem;
    display: inline;
  }

  .post img {
      width: 133.33334%;
      max-width: 133.333334%;
      margin-left: -16.666666%;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .post-list-meta {
    font-size: 1.2rem;
    float: right;
    position: relative;
    top: 2px;
  }

  .post-list-row {
    padding-top: 33px;
    padding-bottom: 37px;
  }
}
