.text-link {
  border-bottom: 2px solid $smoke-shadow;
  transition: all 0.1s ease-in-out;

  &:hover {
    border-color: $charcoal;
  }
}

.text-light {
  color: $smoke-dark;
}

.text-sm {
  font-size: 80%;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

@media(max-width: $small) {
  .text-center-small {
    text-align: center;
  }
}
