h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 { font-size: 1.7rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; }
h6 { font-size: .9rem; }

p, ul, li, blockquote {
  font-size: 1.1rem;
}

li {
  margin-bottom: .3rem;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 25px;
  border-left: 2px solid $smoke-shadow;
}

@media (min-width: 500px) {
  h1 { font-size: 1.9rem; }
  h2 { font-size: 1.6rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.4rem; }
  h5 { font-size: 1.3rem; }
  h6 { font-size: 1.2rem; }
}


@media (min-width: 800px) {
  h1 { font-size: 2.2rem; }
  h2 { font-size: 1.9rem; }
  h3 { font-size: 1.7rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.3rem; }

  p, ul, li, blockquote {
    font-size: 1.3rem;
  }
}
