h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.3rem; }
