h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $sans-serif;
  font-feature-settings: "smcp","c2sc";
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 0.9rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.7rem; }

p, ul, li, blockquote {
  font-size: 1.2rem;
  line-height: 1.4;
}

li {
  margin-bottom: .3rem;
}

ol {
  padding-left: 15px;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  opacity: 0.8;
  border-left: 3px solid $gray-20;
}

@media (min-width: $small) {
  h1 { font-size: 1.7rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.0rem; }
  h5 { font-size: 0.9rem; }
  h6 { font-size: 0.8rem; }
}


@media (min-width: $large) {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.1rem; }
  h5 { font-size: 1rem; }
  h6 { font-size: 0.9rem; }

  blockquote {
    padding-left: 2rem;
  }

  p, ul, li, blockquote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  ol {
    padding-left: 25px;
  }
}

.serif {
  font-family: $serif;
}

.sans-serif {
  font-family: $sans-serif;
}

.uppercase {
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  color: inherit;
  border-bottom: 2px solid $gray-40;
  text-decoration: none;
  transition: 0.1s all ease;

  &:hover {
    border-color: $gray-80;
  }
}
