---
layout: default
---

<header class="post-header">
  {% if page.header-img %}
    <img class="fit" src="{{site.baseurl}}/assets/img/work/{{page.header-img}}" alt="{{page.header-img}}" />
  {% endif %}
  {% if page.header-img-full %}
    <img class="fit" src="{{page.header-img-full}}" alt="{{page.header-img-full}}" />
  {% endif %}

</header>

<article class="post container-small center">

    {% if page.title %}
      <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}
    <div class="post-content">
      {{ content }}
    </div>

</article>
