---
layout: default
---

<header class="post-header">
  {% if page.header-img %}
    <img class="fit" src="{{site.baseurl}}/assets/dist/posts/{{page.header-img}}" alt="{{page.header-img}}" />
  {% endif %}
</header>

<article class="post container-small" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content" itemprop="articleBody">
    {% if page.title %}
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% endif %}
    {{ content }}
  </div>

</article>
