.workLink {
  display: block;
  text-decoration: none;
  padding: 20px 25px;
  border-radius: 12px;
  line-height: 1.2;
  border-bottom: none;
  transition: 0.01s background-color ease-out;
  cursor: pointer;
}

.workLink:first-of-type {
  position: relative;
  left: 0;
}

.workLink:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

@media (min-width: var(--small)) {
  .workLink:first-of-type {
    left: -20px;
  }
}

.workLinkIcon {
  width: 60px;
  float: left;
  margin-right: 20px;
}
